/* wyśrodkowanie elementów, ramka i tło */
main {
    margin: auto;
    background-color: brown;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    text-align: center;
}

/* Na dużych ekranach mniejsza szerokość niż cały ekran */
@media (min-width: 768px) {
    main {
        width: 600px;
    }
}
/* Kwadratowe, wyśrodkowane inputy */
input {
    font-size: 30px;
    height: 2em;
    width: 2em;
    text-align: center;
}

/* Usunięcie strzałek góra/dół w inputach */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Większy przycisk */
button {
    margin-top: 20px;
    width: 30%;
    height: 30px;
}